
<body>
    <header>
        <div class="wrapper">
            <div class="container">
                <div class="row align-items-center justify-content-between d-flex">
                    <div class=" text-center">
                        <a routerLink="/home"><img src="assets/img/icon.png" width="65px" height="65px" /></a>
                    </div>
                    <nav>
                        <a [routerLink]="['/login']">Login</a>
                        <a [routerLink]="['/registro']">Registro</a>
                    </nav>
                </div>
            </div>
        </div>
    </header>



    <section class="video-sec-area pb-100 pt-40">
        <div class="container">
            <div class="row justify-content-start align-items-center">
                <div class="col-lg-6 video-left">
                    <h6>¿Universidad?</h6>
                    <h1>Xicotepec <br>
                        Oferta educativa</h1>
                    <p><span>
                            <h2>La UTXJ ofrece carreras a nivel técnico superior universitario (TSU), ingenierías y
                                licenciatura.</h2><br>

                            <h2>Carreras a nivel Técnico Superior Universitario (T.S.U.)</h2>
                            Administración: Área Recursos Humanos
                            Fotónica: Área Telecomunicaciones
                            Gastronomía
                            Mecatrónica: Área Automatización
                            Mantenimiento: Área Industrial
                            Mantenimiento: Área Petróleo
                            Procesos Alimentarios
                            Química: Área Biotecnología
                            Terapia Física: Área Rehabilitación
                            Tecnologías de la Información y Comunicación: Área Sistemas Informáticos
                            Tecnologías de la Información y Comunicación: Área Multimedia y Comercio Electrónico
                            <br>
                            <h2>Carreras a nivel licenciatura</h2>
                            <br>
                            Ingeniería en Desarrollo e Innovación Empresarial
                            Ingeniería en Mecatrónica soi io
                            Ingeniería en Mantenimiento Industrial
                            Ingeniería en Procesos Alimentarios
                            Ingeniería en Tecnologías de la Información y Comunicación
                        </span></p>
                </div>
                <div class="col-lg-6 video-right justify-content-center align-items-center d-flex">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3743.5071561863197!2d-97.95976858560543!3d20.237791019685222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d08602491e37a1%3A0x4bbea4aede57d500!2sUniversidad%20Tecnol%C3%B3gica%20de%20Xicotepec%20de%20Ju%C3%A1rez!5e0!3m2!1ses-419!2smx!4v1581874001586!5m2!1ses-419!2smx"
                        width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>
    </section>


    <footer class="text-center footer-style">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6>Acerca de</h6>
                        <p>
                            La Universidad Tecnológica de Xicotepec de Juárez se creó entre el año de 2002, con el fin
                            de proporcionar a la población de la Sierra Norte de Puebla de otro centro educativo para la
                            formación de los futuros profesionistas y principalmente de la juventud poblana.
                        </p>
                        <p class="footer-text">
                            Armando &copy;
                            Derechos Reservados | Trabajo de Arquitectura de software by Armando Muñoz Hernandez
                        </p>
                    </div>
                </div>
                <div class="col-lg-5  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h6></h6>
                        <p>

                        </p>
                        <div class="" id="mc_embed_signup">

                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div>
                        <h6>Siguenos</h6>
                        <p>Nuestras redes sociales</p>
                        <div class="footer-social d-flex align-items-center">
                            <a href="https://www.facebook.com/tic.utxj"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/ut_xicotepec?lang=es"><i class="fa fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
