<body style="background-size:2000px;background-image:url(assets/img/pano.jpg)">
    <br>
    <div class="container" style="background-color: transparent;">
        <div class="row">
            <div class=" text-center">
                <a routerLink="/home"><img src="assets/img/icon.png" width="65px" height="65px" /></a>
            </div>
            <div class="col-md-12 text-center">
                <button name="btn" type="button" class="btn btn-outline-light">Inicio de sesión</button>
            </div>

        </div>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-md-4 offset-4">
                <form #form="ngForm" (ngSubmit)="login(form);">
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="matricula" style="color: white">Usuario</label>
                        <input type="number" [(ngModel)]="usuario.matricula" name="matricula" class="form-control"/>
                    </div>
                    <br>
                    <br>
                    <div class="form-group">
                        <label for="password" style="color: white">Contraseña</label>
                        <input type="password" [(ngModel)]="usuario.contra" name="contra" class="form-control"/>
                    </div>
                    <br>
                    <br>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="btn btn-outline-primary">Login</button>
                    </div>
                </form>
                    <br>
                    <div class="col-md-12 text-center">
                        <button type="submit" routerLink="/registro" class="btn btn-outline-warning">Registrarse
                        </button>
                        <router-outlet></router-outlet>
                    </div>
            </div>
        </div>

    </div>
    <br>
    <br>
    <br>
    <br>

</body>